<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Официальный источник NuGet -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />

    <!-- Локальные пакеты DevExpress -->
    <add key="local-packages" value="CommonUtils/LocalPackages" />

    <!-- GitHub Packages для CommonUtils -->
  </packageSources>

  <!--
  Для локальной разработки создайте файл nuget.config.user с вашими учетными данными:

  <packageSourceCredentials>
    <github-gurjack>
      <add key="Username" value="GurJack" />
      <add key="ClearTextPassword" value="ВАШ_GITHUB_TOKEN" />
    </github-gurjack>
  </packageSourceCredentials>

  Этот файл должен быть в .gitignore
  -->
</configuration>
