<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Официальный источник NuGet -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />

    <!-- GitHub Packages для CommonUtils -->
    <add key="github-gurjack" value="https://nuget.pkg.github.com/GurJack/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <github-gurjack>
      <add key="Username" value="GurJack" />
      <!--
      Для локальной разработки создайте файл nuget.config.user с вашим токеном:
      <add key="ClearTextPassword" value="ВАШ_GITHUB_TOKEN" />
      Этот файл должен быть в .gitignore
      -->
    </github-gurjack>
  </packageSourceCredentials>
</configuration>
